{% extends 'base.html' %} 
{% block title %}Detail{% endblock %}
{% block content %}
<div class="detail__img">
    <img src="{{animal.img}}" alt="{{animal.name}}" />
</div>
<div class="detail__name">
    {% if animal.extinct_animal %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Extinct</span>
    </div>
    {% endif %}
    <h1 class="title">{{animal.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        </a>
        <a href="{% url 'animal_update' animal.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'animal_delete' animal.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{animal.bio}}</p>
    </div>
    <!-- inside container -->
  <div class="detail__songs mb-5">
    <h3 class="title is-3">Group:</h3>
    {% for group in animal.groups.all %}
    <div class="group">
      <span><b>{{group.name}}</b></span>
    </div>
		{% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Groups Available</p>
      </div>
    </article>

    {% endfor %}
  </div>
<!--  above about section  -->
    </article>

  </div>
<!--  above about section  -->
</div>

{% endblock %}